GITLAB_ROOT_PASSWORD="${openssl rand -hex 16}"
GITLAB_PROJECT_ID=1
GITLAB_BOOTSTRAP_TOKEN="glpat-..."

HATCHET_AUTH_COOKIE_SECRETS="${openssl rand -hex 16} ${openssl rand -hex 16}"

HATCHET_ADMIN_PASSWORD=${mise run pass}
HATCHET_ADMIN_EMAIL=valid@email-service.com
HATCHET_CLIENT_TOKEN=xyz
HATCHET_CLIENT_SERVER_URL=http://localhost:7077

HATCHET_CLIENT_TENANT_ID=70...2
HATCHET_CLIENT_HOST_PORT=localhost:7077
HATCHET_CLIENT_SERVER_URL=http://localhost:8081
